<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mybasketballforum.mapper.PostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.project.mybasketballforum.pojo.Post">
        <id column="post_id" property="postId" />
        <result column="description" property="description" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="view_count" property="viewCount" />
        <result column="like_count" property="likeCount" />
        <result column="category_id" property="categoryId" />
        <result column="user_id" property="userId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        post_id, description, title, content, view_count, like_count, category_id, user_id
    </sql>

</mapper>
